  </main>
  <footer class="site-footer">
    <div class="container">
      <p>&copy; {{year}} {{site.name}}. All rights reserved.</p>
    </div>
  </footer>
  <script src="/themes/my-theme/assets/js/main.js"></script>
  <!-- Analytics Tracking -->
  <script src="/api/plugins/analytics/tracker.js"></script>
  <script>
    if (typeof WPAnalytics !== 'undefined') {
      WPAnalytics.init({ apiUrl: '/api/analytics' });
    }
  </script>
</body>
</html>
